{% from "ui/icon.twig" import icon %}

<footer class="article-page__footer">
	<div class="article-page__footer-unit">
		<span class="article-page__footer-title">{{ blog.article.footer.tags.header }}</span>
		{% for item in blog.article.footer.tags.list %}
			<a href="{{ item.link }}" class="article-page__footer-button button button--small">{{ item.text }}</a>
		{% endfor %}
	</div>
	<div class="article-page__footer-unit">
		<span class="article-page__footer-title">{{ blog.article.footer.share.header }}</span>
		{% for item in blog.article.footer.share.list %}
			<a href="{{ item.link }}" class="article-page__footer-button button button--small">
				{{ icon ("button__icon", item.icon_id, 16, 16) }}
			</a>
		{% endfor %}
	</div>
</footer>