{% from "ui/picture.twig" import picture %}

<article class="blog-article">

	{{ picture(
			"blog-article__image",
			item.picture.src,
			item.picture.sources,
			item.picture.alt,
			item.picture.width,
			item.picture.height,
			"center",
			"cover"
		) }}

	<span class="blog-article__label item-label">{{ item.label }}</span>
	<div class="article-info">
		<img src="#" alt="people icon" width="16px" height="16px">
		<span class="article-info__author">{{ item.author }}</span>
		<img src="#" alt="calendar icon" width="16px" height="16px">
		<time datetime="{{ item.date }}" class="article-info__date">{{ item.date_text}}</time>
	</div>
	<h3 class="blog-article__header">{{ item.header }}</h3>
	<p class="blog-article__description">{{ item.description }}</p>
	<a href="{{ item.link }}" class="blog-article__button button">Read more ></a>
</article>