<div class="field-text">
	<label 
        for="{{ item.id }}" 
        class="label-default"
    >
		{{ item.label }}
	</label>
	<br/>
	<input 
        type="text" 
        id="{{ item.id }}" 
        name="{{ item.name }}" 
        placeholder="{{ item.placeholder }}" 
        class="input-default field-text__input" 
        {% if item.pattern %} pattern="{{ item.pattern }}" {% endif %} 
        {% if item.required == "yes" %} required {% endif %}
    />
</div>
