<div class="field-radio {% if item.toggle == "yes" %}field-toggle{% endif %}">
	<input 
        type="radio" 
        id="{{ item.id }}" 
        name="{{ item.name }}" 
        value="{{ item.value }}" 
        class="field-radio__input" 
        {% if item.required == "yes" %} required {% endif %}
        {% if item.checked == "yes" %} checked {% endif %}
    />
	<label 
        for="{{ item.id }}" 
        class="label-default label-radio"
    >
		{{ item.label }}
	</label>
</div>