<div class="field-textarea">
	<label 
        for="{{ item.id }}" 
        class="label-default"
    >
		{{ item.label }}
	</label>
	<br/>
	<textarea 
        id="{{ item.id }}" 
        name="{{ item.name }}" 
        placeholder="{{ item.placeholder }}" 
        class="input-default field-textarea__input" 
        {% if item.minlength %} minlength="{{ item.minlength }}" {% endif %} 
        {% if item.maxlength %} maxlength="{{ item.maxlength }}" {% endif %} 
        {% if item.pattern %} pattern="{{ item.pattern }}" {% endif %} 
        {% if item.required == "yes" %} required {% endif %}></textarea>
</div>
