<header class="header">
	<a href="/" class="header__logo"><img src="{{ common.logo_src }}" alt="{{ common.logo_alt }}" class="header__logo-image"></a>
	<nav class="header__navigation">
		<ul class="header__navigation-list">
			{% for item in common.header.navigation %}
				<li class="header__navigation-item">
					<a href="{{ item.link }}" class="header__navigation-link link
					{% if item.link == page %}
					header__navigation-link--active
					{% endif %}
					">
					{{ item.text }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
	<div class="header__controls">


		<div class="header__controls-search">{% include '/search.twig' with { item:common.header.search } %}</div>



		<a class="header__controls-button button button--large" href="{{ common.header.controls.button_discord_link }}">{{ common.header.controls.button_discord_text }}</a>
		<button type="button" class="header__controls-button button button--large button--primary">{{ common.header.controls.button_login_text }}</button>
	</div>
</header>
