{% from "ui/picture.twig" import picture %}

<article class="person-card">

	{{ picture(
			"person-card__avatar",
			item.picture.src,
			item.picture.sources,
			item.picture.alt,
			item.picture.width,
			item.picture.height,
			"center",
			"cover"
		) }}

	<h3 class="person-card__name">{{ item.name }}</h3>
	<p class="person-card__role">{{ item.role }}</p>
	<ul class="socials">
		{% for unit in item.socials %}
			<li class="socials__item">
				<a href="{{ unit.link }}" class="socials__item-link"><img src="{{ unit.logo_src }}" class="socials__item-icon" alt="{{ unit.logo_alt }}" width="24px" height="24px"></a>
			</li>
		{% endfor %}
	</ul>
</article>
