{% from "ui/picture.twig" import picture %}
{% from "ui/icon.twig" import icon %}

<article class="person-card">

	{{ picture(
			"person-card__avatar",
			item.picture.src,
			item.picture.alt,
			item.picture.width,
			item.picture.height,
			"center",
			"cover"
		) }}

	<h3 class="person-card__name">{{ item.name }}</h3>
	<p class="person-card__role">{{ item.role }}</p>
	<ul class="socials">
		{% for unit in item.socials %}
			<li class="socials__item">
				<a href="{{ unit.link }}" class="socials__item-link">
					{{ icon ("socials__item-icon", unit.icon_id, 24, 24) }}
				</a>
			</li>
		{% endfor %}
	</ul>
</article>