{% from "ui/picture.twig" import picture %}
{% from "ui/icon.twig" import icon %}

<article class="product-item card-hover">

	{{ picture(
			"product-item__picture",
			item.picture.srcMobile,
			item.picture.alt,
			'280',
			'324',
			item.picture.position,
			"cover",
			item.picture.srcTablet,
			item.picture.srcDesktop,
			item.picture.srcDesktopLg
		) }}

	<span class="product-item__label item-label
			{% if item.label == " sold out" %}v
			item-label--accent
			{% endif %}
			">{{ item.label }}</span>
	<p class="product-item__price">{{ item.price}}</p>
	<h3 class="product-item__name">{{ item.name}}</h3>

	<div class="product-item__overlay">
		<button type="button" class="button button--large button--alternative product-item__overlay-button">
			{{ icon ("button__icon", "heart", 24, 24) }}
			Favourites</button>
		<button type="button" class="button button--large button--primary product-item__overlay-button">Buy</button>
	</div>

</article>
