{% set page="blog.html" %}

{% extends 'src/templates/layouts/base.twig' %}

{% from 'src/templates/partials/ui/icon.twig' import icon %}

{% block content %}

	{% include 'src/templates/partials/page_title.twig' with { page_header:blog.header, breadcrumbs_array:blog.breadcrumbs } %}

	<div class="content-wrapper">

		{% include 'src/templates/partials/blog_aside.twig' %}

		<article class="article-page">

			{% include 'src/templates/partials/article_picture.twig' with { item:blog.article.main_picture } %}

			{% include 'src/templates/partials/article_title.twig' %}

			<p class="article-page__text">{{ blog.article.paragraph_1 }}</p>

			<ul class="article-page__list">
				{% for item in blog.article.list %}
					<li class="article-page__list-item">{{ item.text }}</li>
				{% endfor %}
			</ul>

			<ul class="icon-list article-page__icon-list">
				{% for item in blog.article.icon_list %}
					<li class="icon-list__item">{{ item.text }}</li>
				{% endfor %}
			</ul>

			{% include 'src/templates/partials/article_blockquote.twig' %}

			<ul class="article-page__picture-list">
				{% for item in blog.article.list_picture %}
					<li class="article-page__picture-item">
						{% include 'src/templates/partials/article_picture.twig' %}
					</li>
				{% endfor %}
			</ul>

			<h3 class="sub-header article-page__sub-header">{{ blog.article.sub_header_1 }}</h3>

			<p class="article-page__text">{{ blog.article.paragraph_2 }}</p>

			<p class="article-page__text">{{ blog.article.paragraph_3 }}</p>

			<h3 class="sub-header article-page__sub-header">{{ blog.article.sub_header_2 }}</h3>

			<p class="article-page__text">{{ blog.article.paragraph_4 }}</p>

			{% include 'src/templates/partials/article_footer.twig' %}

		</article>

	</div>

{% endblock %}
